In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd
from geopandas import GeoDataFrame
import shapely
from shapely.geometry import Point
import plotly.express as px

In [28]:
df = pd.read_csv('input.csv', header=None)

In [29]:
df

        0
0     C Y
1     C Y
2     B Y
3     A Z
4     B Z
...   ...
2495  A Y
2496  B Z
2497  B Y
2498  B Z
2499  B X

[2500 rows x 1 columns]

In [30]:
print(df[0][0])
for i in range(len(df[0])):
    #print(a.split(" "))
    a = df[0][i]
    df[0][i] =a.split(" ")

C Y

In [31]:
print(df[0][0][0])

C

In [32]:
# X Rock, Y Paper, Z Scissors
total = 0
for i in range(len(df[0])):
    opp = df[0][i][0]
    you = df[0][i][1]
    if you == "X":
        total += 1
        if opp == "A":
            total += 3
        if opp == "B":
            total += 0
        if opp == "C":
            total += 6
    if you == "Y":
        total += 2
        if opp == "A":
            total += 6
        if opp == "B":
            total += 3
        if opp == "C":
            total += 0
    if you == "Z":
        total += 3
        if opp == "A":
            total += 0
        if opp == "B":
            total += 6
        if opp == "C":
            total += 3
print(total)

14827

In [33]:
# Part 2
# X Lose, Y Draw, Z Win
total = 0
for i in range(len(df[0])):
    opp = df[0][i][0]
    you = df[0][i][1]
    if you == "X":
        total += 0
        if opp == "A":
            total += 3
        if opp == "B":
            total += 1
        if opp == "C":
            total += 2
    if you == "Y":
        total += 3
        if opp == "A":
            total += 1
        if opp == "B":
            total += 2
        if opp == "C":
            total += 3
    if you == "Z":
        total += 6
        if opp == "A":
            total += 2
        if opp == "B":
            total += 3
        if opp == "C":
            total += 1
print(total)

13889