In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd
from geopandas import GeoDataFrame
import shapely
from shapely.geometry import Point
import plotly.express as px

In [7]:
df = pd.read_csv('elf1.csv')

In [8]:
df[:20]

     Cal
0   2832
1   2108
2   3082
3   4328
4   6843
5   5121
6   2869
7   1366
8   2358
9   1680
10  4980
11  1161
12     ,
13  8026
14  2154
15  4242
16  1023
17  2744
18  3162
19  4093

In [19]:
count = 0
total = []
for a in df["Cal"]:
    if a == ",":
        total.append(count)
        count = 0
    else:
        count = count + int(a)

In [25]:
maxi = 0
elf = 0

for i in range(len(total)):
    curr = int(total[i])
    if curr > maxi:
        maxi = curr
        elf = i+1

In [22]:
len(total)

247

In [26]:
print(maxi)

print(elf)

67622
11

In [27]:
#Part 2
one = 0
elf1 = 0
two = 0
elf2 = 0
three = 0
elf3 = 0

for i in range(len(total)):
    curr = int(total[i])
    if curr > one:
        three = two
        elf3 = elf2
        two = one
        elf2 = elf1
        one = curr
        elf1 = i+1
    if curr < one and curr > two:
        three = two
        elf3 = elf2
        two = curr
        elf2 = i+1
    if curr < two and curr > three:
        three = curr
        elf3 = i+1
print(three)
print(two)
print(one)

66377
67492
67622

In [28]:
three+two+one

201491